h1 {
  color: navy;
  margin-left: 20px;
}

.left {
  text-align: left;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 16px;
}

.right {
  float: right;
  margin: 0px 0px 0px 0px;
}

.job {
  background-color:black;
}

.job_role {
  margin: 0px 0px 0px 0px;
  font-size: 12px;
}

.job_company {
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

ul.job_notes {
  list-style-type: circle;
  border: 0px solid black;
  padding: 0px 0px 0px 16px;
}

li.job_item{
  border: 0px solid black;
  padding: 0px 0px 0px 0px;
}

li.job_section {
  padding: 16px 16px 16px 16px;
}
